

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 4, 255, 0.233);
    color: black;
    font-size: 1.5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(10, 112, 52);
}

.header{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 580px) {
    .toggleBtn{
        display: none;
    }
}

.toggleBtn:hover{
    color: #e74c3c;
    transform: rotate(90deg); /* Rotates the icon 90 degrees clockwise whenever hovered upon */
}

.links{
    list-style-type: none;  /* Removing Bullet Points */
    margin: 0 30px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.links a{
    display: block;
    color: rgb(255, 250, 250);
    text-decoration: none; /* Removing Underlines */
    margin: 10px 10px;
    padding: 5px;
    text-transform: capitalize; /* Capitalize all the first letters */
    transition: all 0.3s linear; /* The 'all' refers to all properties that will be transitioned */
}

.links a:hover{    
    color: #b7c536;
    padding: 0;
    background: transparent;
    transform: scale(1.2);
}


/* Responsiveness to handle viewing on a mobile phone */
@media screen and (max-width: 580px) {

    body{
        font-size: 1rem;
    }

    nav{
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }

    .toggleBtn{
        color: #ecf0f1;
        font-size: 1.5rem;
        margin: 10px;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
    }

    .toggleBtn:hover{
        color: #e74c3c;
        transform: rotate(90deg); /* Rotates the icon 90 degrees clockwise whenever hovered upon */
    }

    .links{
        flex-direction: column;
        height: 0;
    }

    .links a:hover{
        padding-left: 50px;
    }

    .active{
        height: 13rem;
    }

}