

/* Styling the image */
#myImg{
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}

#myImg:hover{
    opacity: 0.7;
}

/* Modal background */
.modal{
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black with opacity */
}

/* Modal content (The image itself) */
.modal-content{
    margin: auto;
    width: 80%;
    display: block;
    max-width: 750px;
    border-radius: 10px;
}

/* Caption of Modal image - Same width as the image */
#caption{
    margin: auto;
    width: 80%;
    display: block;
    max-width: 750px;
    text-align: center;
    color: white;
    padding: 15px 0;
    height: 150px;
}

/* Add animation - Zoom in the modal */
.modal-content, #caption{
    animation-name: zoom;
    animation-duration: 0.7s;
}

@keyframes zoom{
    from{
        transform: scale(0);
        transform: scale(1);
    }
}

/* The close button */
.close{
    position: absolute;
    top: 15px;
    right: 30px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus{
    color: #8a1414;
    text-decoration: none;
    cursor: pointer;
}

/* 100% image width on smaller screens */
@media screen and (max-width: 700px) {
    .modal-content{
        width: 100%;
    }
}