

*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(72, 123, 139), rgb(1, 10, 85));
}

.container{
    padding: 50px 40px;
    background-color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 7px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.container h1{
    font-weight: bold;
    text-align: center;
    color: rgb(56, 55, 55);
    text-decoration: underline;
    margin-bottom: 30px;
}

.inputBox{
    position: relative;
    margin-bottom: 10px;
}

.inputBox span{
    position: absolute;
    top: 50%;
    right: 15px; /* Places the copy icon at the far right */
    transform: translateY(-50%); /* Moves the copy icon slightly upwards */
    color: rgb(56, 55, 55);
    font-size: 20px; /* Reduces the icon's size */
    cursor: pointer;
}

.passBox{
    padding: 10px;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: rgb(56, 55, 55);
    outline: none;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.row p{
    font-weight: 600;
}

.row p, .row label{
    color: #000;
    flex-basis: 60%;
    font-size: 17px;
    font-weight: 400;
}

.row input[type="checkbox"], .row span{
    margin-right: 10px;
}

.getBtn{
    width: 100%;
    background-color: rgb(4, 58, 4);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 0px;
    margin-top: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.getBtn:hover{
    background-color: black;
}

input[type="range"]{
    width: 100%; /* This makes the length of the blue bar to stretch to 100% width of the container */
    margin: 10px 0 0 0;
}

.pass-indicator{
    width: 100%;
    height: 5px;
    position: relative;
    background: #dfdfdf;
    border-radius: 25px;
}

.pass-indicator::before{
    position: absolute;
    width: 50%;
    height: 100%;
    content: "";
    border-radius: inherit;
    transition: width 0.3s ease;
}



/* Some of the other classes below (weak, medium and strong) are added through the JS file */
.pass-indicator.weak::before{
    width: 20%;
    background-color: rgb(206, 6, 6);
}

.pass-indicator.medium::before{
    width: 50%;
    background-color: rgb(180, 180, 12);
}

.pass-indicator.strong::before{
    width: 100%;
    background-color: rgb(63, 250, 63);
}