

*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}

/* Full width of input fields */
input[type=email], input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background-color: #e7dada;
}

/* Background color when inputs get focus */
input[type=email]:focus, input[type=password]:focus{
    background-color: rgb(34, 38, 39);
    color: #e7dada;
    outline: none;
}

hr{
    margin-bottom: 30px;
}

/* Set a style for all buttons */
button{
    background-color: rgba(8, 84, 197, 0.667)6D;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover{
    opacity: 1;
}

/* Sign Up button */
.signUpbtn{
    background-color: rgb(4, 85, 4);
    color: white;
}

/* Cancel Button */
.cancelbtn{
    padding: 15px 21px;
    background-color: red;
}

/* Float cancel and signup buttons then add an equal width */
.cancelbtn, .signUpbtn{
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container{
    padding: 20px;
}

/* The Modal (background) */
.modal{
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* The sign up form */
.modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom */
    width: 80%;
    border: 1px solid #757171;
}

/* The close button (x) */
.close{
    position: relative;
    float: right;
    right: 30px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f7f0f0;
}

.close:hover, .close:focus{
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel and signup buttons on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signUpbtn{
        width: 100%;
    }
}