

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 65);
    color: white;
    height: 600px;
}

.container{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.1);
    animation: VotesAnimation 2s ease-in-out ;
}

@keyframes VotesAnimation {

    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }

}

h1{
    text-decoration: underline lightgreen solid 2px;
    opacity: 1;
}

h2{
    color: #ff1493;
    text-decoration: underline lightgreen solid 2px;
    margin-bottom: 0;
}

.choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice{
    margin: 10px 0 15px 0;
}

input[type="radio"]{
    display: none;
}

label{
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    background-color: azure;
    color: black;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.choice:hover{
    background-color: #ff1493;
}

.choice input[type="radio"]:checked + label{
    background-color: #ff1493;
    color: white;
}

button{
    background-color: green;
    color: white;
    margin: 10px;
    padding: 10px 200px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover{
    background-color: rgb(3, 73, 3);
}