

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 65);
    color: white;
    height: 600px;
}

.container{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.1);
    animation: VotesAnimation 2s ease-in-out ;
}

@keyframes VotesAnimation {

    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }

}

h1{
    text-decoration: underline lightgreen solid 2px;
    opacity: 1;
}

h2{
    color: #ff1493;
    text-decoration: underline lightgreen solid 2px;
    margin-bottom: 0;
}

.choices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice{
    margin: 10px 0 10px 0;
}

input[type="radio"]{
    display: none;
}

label{
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    background-color: azure;
    color: black;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.choice:hover{
    background-color: #ff1493;
}

.choice input[type="radio"]:checked + label{
    background-color: #ff1493;
    color: white;
}

button{
    background-color: green;
    color: white;
    margin: 10px;
    padding: 10px 200px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover{
    background-color: rgb(3, 73, 3);
}




/* The CSS styling below is done after coding in voting.js is completed */
#TotalVotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff1493;
    font-size: 18px;
    margin-top: 18px;
}

        /* The classes below were added through the JS file */
.choice-result{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-text{
    flex: 1;
}

.bar-container{
    /* This is the container having the rods for measuring the length */
    flex: 3;
    background-color: rgb(255, 174, 0);
    height: 5px;
    border-radius: 4px;
    margin-left: 20px;
    overflow: hidden;
}

.bar{
    /* These are the actual rods */
    height: 100%;
    background-color: rgb(218, 185, 185);
    width: 0;
    transition: width 0.5s ease-in-out;
}

.Percentage{
    /* The percentage of each vote that determines length of the rod */
    flex: 1;
    margin-left: 10px;
    font-weight: bold;
    color: #ff1493;
}