


*{
    box-sizing: border-box;
}

.mySlides{
    display: none;
}

img{
    vertical-align: middle;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Previous & Next buttons */
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 4px 4px 0;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the Next button to the right side */
.next{
    right: 0;
    border-radius: 4px 0 0 4px;
}

.prev:hover, .next:hover{
    background-color: black;
}

/* Caption text */
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Slide number */
.numberText{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/Indicators */
.dot{   
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #797575;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #333131;
}


/* Fading animation */
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}


/* Responsiveness to suit small screens */
@media screen and (max-width: 300px) {
    .prev, .next,.text{
        font-size: 11px;
    }
}